@font-face {
    font-family: "IndieFlower";
	src: url(/) format("truetype");
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}
